<%- include("../includes/head") %>

    <section class="mx-auto">
      <a href="/">Go back home</a>
      <h1 class="title">Change your password!</h1>
      <form action="/reset-password" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
        <div>
            <label for="password">Enter your new password</label>
            <input type="password" id="password" name="password" required />
        </div>        
        <div>
            <label for="cpassword">Confirm your new password</label>
            <input type="password" id="cpassword" name="cpassword" required />
        </div>        
        <button>Change Password</button>
      </form>
    </section>
  </body>
  <%- include("../includes/foot") %>
