<div class="flex navbar space-between p-300">
  <div class="flex">
    <i class="fa-solid fa-blog text-white f-20"></i>
    <h1 class="title text-white logo"><a href="/" class="bg-none">My Blogs</a></h1>
  </div>
      <% if(isLogin) { %>
    <div class="flex navbar-btn">
      <div>
        <!-- <a href="/" class="ml-auto">Go back home</a> -->
      </div>
    </div>
      <% } else { %>
    <div class="flex gap-15">
      <a href="/login">Login existing account</a>
      <a href="/register">Create new account</a>
      <% } %>
    </div>
  </div>