<div class="flex navbar space-between p-50">
    <div>
      <h1 class="text-white">My Blogs</h1>
    </div>
      <% if(isLogin) { %>
    <div class="flex navbar-btn">
      <div>
        <a href="/" class="ml-auto">Go back home</a>
      </div>
    </div>
      <% } else { %>
    <div>
      <a href="/login">Login existing account</a>
      <a href="/register">Create new account</a>
      <% } %>
    </div>
  </div>