@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.title {
}
.description {
  color: red;
  text-align: center;
}
a {
  display: block;
  margin: 10px 0;
  color: #fff;
  background-color: #000;
  padding: 8px 10px;
  width: fit-content;
  text-decoration: none;
}
label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
input,
textarea {
  font-size: 18px;
  padding: 4px 0;
  padding-left: 8px;
  width: 99%;
}
button {
  margin: 10px 0;
  color: #fff;
  background-color: #000;
  padding: 8px 10px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
.mx-auto {
  width: 40%;
  margin: auto auto;
}
.post-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
  justify-content: space-between;
  margin-top: 10px;
}
.post-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.post-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.details h1{
  text-align: center;
  margin: 20px 0;
}
.details img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.details p{
  font-size: 17px;
}
.btn-full {
  margin: 10px 0;
  color: #fff;
  background-color: #000000;
  padding: 8px 0;
  width: 60px;
  text-align: center;
}
.message-box {
  background: rgb(194, 133, 133);
  color: rgb(128, 14, 14);
  text-align: center;
  padding: 15px 10px;
  font-weight: bold;
}
.flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.navbar {
  background: rgb(17, 17, 105);
}
.gap-15 {
  gap: 15px;
}
.p-50 {
  padding: 0 50px;
}
.ml-auto {
  margin-left: auto;
}
.f-end {
  justify-content: flex-end;
}
.home-img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}
.text-white {
  color: white;
}
.mt-20 {
  margin-top: 20px;
}
.form div {
  margin: 20px 0;
}
.bg-none {
  background: none;
}
.success-box-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.success-box {
  background: rgb(9, 35, 150);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 10px;
  font-weight: bold;
  margin-top: 20px;
}
.tmp {
  color: #000000;
  font-weight: 300;
  margin-left: 5px;
}
.center {
  justify-content: center;
}
.fullheight {
  height: 80vh;
}
.mx-auto {
  margin: 0 auto;
}
.go-home {
  text-align: center;
  margin-top: 10px;
}
.f-20 {
  font-size: 20px;
}