<%- include("../includes/head") %> <%- include("../includes/navbar") %>
<section class="mx-auto pt-40">
  <a href="/admin/profile/<%= user._id %>" class="ml-auto">Go back</a>
  <div class="premium-box">
    <form action="">
      <h2>Premium User Only</h2>
      <ul>
        <li>Can save post as PDF</li>
        <li>Animate profile badge</li>
        <li>Can change profile unlimited</li>
        <li>Upload user profile picture</li>
        <button>Get Now</button>
      </ul>
    </form>
  </div>
</section>
<%- include("../includes/foot") %>
