<%- include("../includes/head") %>
<%- include("../includes/navbar") %>
<div class="flex center fullheight">
    <div>
        <h1>Something went wrong!</h1>
        <a href="/" class="go-home mx-auto>Go Home</a>
    </div>
</div>
<%- include("../includes/foot") %>
